*{
    margin: 0%;
    padding: 0%;
}

div{
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.541);
}

p{
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

body{

    height: min-content;
}

a{  
    color: white;
    text-decoration: none;
}

li{  
    padding: 5px;
    font-weight: bold;
    background-color: #000;
    margin: 10px 10px;
    display:inline-block;
    border-radius: 10px;
}

li:hover{
    padding: 5px;
    display:inline-block;
    background-color: rgba(218, 57, 8, 0.411);
    color: rgb(7, 7, 7);
    font-weight: bold;
    margin: 10px 10px;
}

header{
    background-image: url("https://www.wallpapertip.com/wmimgs/51-510951_fondos-para-paginas-web.jpg"); 
    width:fit-content;
    height: 500px;
}
