
body{
    height: min-content;
    margin: 0;
    background-image: url(http://www.solprof.com/sites/default/files/fondo-01.jpg);
    
}

.h2-unico{
    
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    color: #a52a2a;
    float: left;
    position: relative;
    margin-right: 10px;  
}

h2,h3,h4 {
    font-style: italic;
}

h3,h4{
    color:darkblue ;
}

img {
    width: 250px;
    height: 300px;
    margin-right: 10px;
    border:  1px solid rgb(16, 11, 11);
    float: left;
}

.principal {
    color: darkblue;
    font-weight: bold;
}

p{
    color: rgb(49, 42, 42);
    font-size: 1em;
    font-weight: bold;
}
a{
    text-decoration: none;
    
}
section{
    margin: 40px;
}